/**Header section**/
.container-fluid {
  background-color: #264653;
  height: 698px;
  margin-bottom: 64px;
}
.specific {
  color: #e0e0e0;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 14px;
}
.container-fluid h1 {
  font-size: 48px;
  color: white;
  font-family: 'Poppins', sans-serif;
}
#text {
  padding-left: 8.5%;
}
#btn {
  background-color: hsl(12, 76%, 61%);
  color: white;
  width: 168px;
  height: 44px;
  margin-top: 20px;
}
/**end of first part**/
main .card{
  max-width: 320px;
}
#card img {
  width: 149px;
  height: 149px;
}
#special {
  border-radius: 50%;
}
#bike-text {
  color: #e76f51;
}
.grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.bike{
  margin-top: 120px;
}
#clients-text{
  margin-top: 160px;
  margin-bottom: 52px;
}
.seperate{
  color:#E76F51;
}
/**miscellaneous starts here**/
#accordionExample{
  margin-top: 17vh;
}
#left-picture{
  margin-top: 16.7vh;
}
.fas,.far{
  color: #e77c40;
  margin-left: 1.84px;
}